@import './variables';

#home-nav {
    height: 10vh;
    padding: .5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
        width: 7rem;
        height: 7rem;
        
        .cls-1 {
            fill: url(#linear-gradient);
        }
    }

    .btn-gradient {
        display: none;

        @media #{$bigScreens} {
            display: inline;
        }
    }

    .mobile-menu-btn {
        cursor: pointer;
        width: 2rem;
        height: 2rem;

        .cls-1 {
            fill: url(#linear-gradient);
        }

        @media #{$bigScreens} {
            display: none;
        }
    }

    .mobile-menu-overlay {
        background: #70707040;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0%;
        left: 0%;
        opacity: 0;
        z-index: 1;
        display: none;
    }

    .mobile-menu {
        background: linear-gradient(120deg, #ee64d1, #eacc56);
        height: 100vh;
        width: 50%;
        position: fixed;
        top: 0%;
        left: 100%;
        z-index: 2;
        display: none;

        .current-user {
            padding-top: 2rem;
            display: grid;
            grid-template-rows: repeat(2, auto);
            justify-items: center;

            h3 {
                font-size: 1.7rem;
                color: white;
            }

            .avatar {
                width: 6rem;
                height: 6rem;
                
                .cls-1 {
                    fill: white;
                }
            }
        }

        .small-btns {
            padding-top: 2.5rem;
            display: grid;
            grid-template-rows: repeat(2, auto);
            justify-content: center;
            text-align: center;
            grid-row-gap: 3rem;
            font-size: 1.3rem;
        }
    }

    .close-mobile-menu-btn {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        padding: .5rem;
        fill: white;
    }
}