@import './variables';

#landing-page {
    height: 100vh;
    background: 100% 100% / contain no-repeat url(../img/landing-page-wave.svg) !important;
}

.btn {
    cursor: pointer;
    color: $mainTextColor;
    background-color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: .3rem;
    font-size: 1.1rem;
    margin: .5rem 1rem;
    padding: .5rem 1rem;
}

.btn-mobile {
    cursor: pointer;
    color: white;
    display: block;
    font-size: 2rem;
    text-decoration: none;
}

.btn-gradient {
    background: linear-gradient(60deg, #eacc56, #ee64d1);
    transition: all .3s ease-in-out;
    color: white !important;

    &:hover {
        transform: scale(1.05);
        background: linear-gradient(150deg, #eacc56, #ee64d1);
    }
}

.btn-white {
    background: white;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}